*{
    margin : 0;
}
body {
    padding :0 ;
    background-color: brown;
}
.container {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.container .card {
    text-decoration: none;
    background-color: yellowgreen;
    grid-column: 0 1fr;

    width:100px;
    height:200px;
}
.container .card .card-hearder {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container .card .card-body {
    display :block;
}
.container .card .card-body .social{
    position : absolute;
}